# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

venv/
venv

# Ignore Kotlin plugin data
.kotlin

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/
bin/


# Java
*.class
hs_err_pid*
replay_pid*



# OS
.DS_Store
Thumbs.db
